.App {
    padding: 20px 20%;
}

.logo {
    font-size: 2.5rem;
    color: #F8B4B4;
}

/*  search bar */
.input-group {
    display: flex;
    align-items: center;
  }

  .input {
    min-height: 50px;
    width: 100%;
    color: black;
    padding: 0 1rem;
    font-size: 15px;
    border: 1px solid #5e4dcd;
    border-radius: 6px 0 0 6px;
    background-color: transparent;
  }

  .button--submit {
    min-height: 50px;
    padding: .5em 1em;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #5e4dcd;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .3s ease-in-out;
  }

  .button--submit:hover {
    background-color: #5e5dcd;
  }

  .input:focus, .input:focus-visible {
    border-color: #3898EC;
    outline: none;
  }

  /* audio */

  audio {
    width: 50px;
  }

  .word {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .play-btn {
    font-size: 2.5rem;
    padding-top: 20px;
    color: #F98080;
  }

  /* noun container */
  .noun-container {

  }
  .title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }
  hr {
    width: 100%;
    height: 1px;
    color: #111827;
  }

  @media (max-width: 768px) {
    .App {
        padding: 10px 10px;
    }
  }
